@import "variables";
@import "header";
@import "footer";
@import "responsive";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    background-color: rgb(255, 255, 255);
}
.titulo{
    color: $colorTitulo;
    font-family: $fontTitulo;
}
.parrafo{
    font-family: $fontParrafo;
    font-size: $sizeParrafo;
}
.imgIn{
    width: $widthImg;
    margin-left: $marginleftImg;
}
.carta{
    width: 60%;
    margin-left: 20%;
    margin-top: 2%;
}
.container__lista{
    list-style-position: inside;
}
.borde{
    border: dotted #d46217 2px;
}
.lista{
    list-style: none;
}
.cita{
    text-decoration: none;
}
.margen{
    justify-content: end;
    padding: 30px;
}
.redes{
    margin: 10px;
}
.margin{
    margin-top: 50px;
}
.fondo{
    background: url(../multimedia/jv.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-position: center ;
}
.jorText{
    font-weight: 900;
    font-size: 22px;
    margin-top: 15px;
}
